# Dados
data/processed/
data/external/
*.zip
*.tar.gz

# Treino
runs/
__pycache__/
*.pyc

# Modelos grandes (use Git LFS se quiser versionar)
models/trained/*.pt

# Ambiente
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo